/*VIDEO CSS*/

/* Makes a fixed background wrapper
which the user cannot interact with */


img {
  filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.iframe-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  overflow: hidden;
}

/* Make the iframe keep an aspect ratio, and
position it in the middle of its parent wrapper*/

.iframe-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

/*rgba(217,85,88,0.65),
rgba(18,234,234,0.65)*/
.jumbotron{
  z-index: -5;
  height: 100vh;
  min-height: 600px;
  background: linear-gradient(
      rgba(48,188,237,0.5),
      rgba(48,188,237,0.5)
    );
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}
